body {
    font-family: Arial, Verdana, sans-serif;
}

#data {
    font-size: large;
}

table {
    border-style: solid;
    border-color: black;
    border-width: thin;
    border-top: none;
}
caption {
    border-style: solid;
    border-color: black;
    text-transform: uppercase;
    font-weight: bold;
    border-width: thin;
}

.left {
    border-right: solid;
    border-color: black;
    text-transform: uppercase;
    font-weight: bold;
    border-width: thin;
}
.main {
    background: red;
    color: white;

  }
.second {
    background-color: lightgrey;
}